* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6; /* This is a multiplier of standard line height */
}

img {
  max-width: 100%;
  filter: brightness(225%);
}

h3 {
  padding: 0 20px;
}

.top-title {
  padding-left: 20px;
  padding-top: 10px;
  color: rgb(3, 132, 137);
}

.vis-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: left;
  padding: 0 20px;
  margin-bottom: 20px;
}

.vis-img {
  border-radius: 10px;
  box-shadow: 5px 4px 2px 2px rgba(0, 0, 0, 0.5);
}

.videos-container {
  padding: 0 20px;
  margin-bottom: 20px;
}

.video-title {
  padding: 0;
}

.video-box {
  display: flex;
  max-width: 800px;
}
.video-box video {
  max-width: 100%;
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: 5px 4px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 748px) {
  body {
    font-size: small;
  }

  .vis-container {
    flex-direction: column;
  }
  .vis-img {
    max-width: 550px;
  }

  .video-box {
    border-radius: 10px;
    max-width: 550px;
  }
}
